<link href="{{#site}}{{root}}{{/site}}ardata.css" rel="stylesheet">
<div class="author">
  <p>Version&nbsp;{{#package}}{{version}}{{/package}} - Developed by {{#package}}{{{authors}}}{{/package}} - proudly brought to you by <a href="http://www.ardata.fr"><img alt="ardata" src='{{#site}}{{root}}{{/site}}ardata-logo.svg' style="vertical-align:middle;height:24px;"/></a>
  </p>
</div>
<div class="pkgdown">
  <p>Site built with <a href="https://pkgdown.r-lib.org/">pkgdown</a> {{#pkgdown}}{{version}}{{/pkgdown}}.</p>
</div>
